*{
	padding: 0px;
	margin: 0px;
}


div.image{
	margin: auto; 
}





#first{

    position: absolute;
    width: 20%;
    height: 18%;
  
    top: 25%;
    left: 18%;

    
    background-color: #a3cbd3;
    border-radius: 0px 12px 12px 0px;
    opacity: 1;
}



#second{

     position: absolute;
     width: 15%;
     height: 10%;
     right: 22%;
     top: 41%;


    display: flex;
    justify-content: space-between;

    background-color: #eff7f9;;
    border-radius: 12px 12px 12px 12px;
  
  
}




#forecast{

   position: absolute;
   width: 12%;
   height: 25%;
    
    bottom: 12%;
    left: 20%;
    
    background-color: #e0d7d7;;
    border-radius: 12px 12px 12px 12px;

}

.image{
  background-image: url("img/photo.jpeg"); 
  background-color: #cccccc; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  width: 1001px;
  height: 747px; 

}
